$button-dark: rgb(48, 54, 69); // #303645
$button-dark-hover: rgb(47, 71, 87); // #2f4757
$button-light: rgb(209, 217, 226); // #d1d9e2
$button-light-hover: rgb(223, 227, 236); // #dfe3ec
$button-red: rgba(202, 95, 95, 1);
$button-red-hover: rgba(202, 95, 95, .7);
$button-teal: rgba(12, 229, 207, 1);
$button-teal-hover: rgba(12, 229, 207, .5);
$button-blue: rgba(74, 118, 232, 1);
$button-blue-hover: rgba(74, 118, 232, .7);
$teal: rgb(105, 226, 207); // #69e2cf
$primary: rgb(248, 249, 251); // #f8f9fb
$secondary: rgb(95, 109, 126); // #5f6d7e
$base-modal-background: #E6E9EC;
$textarea-background: rgb(230, 233, 235);


$dark-background: #050b21;
$dark-gradient-from: rgba(9, 26, 87, 1);
$dark-gradient-to: rgba(0, 172, 234, 1);